@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .inputBtn {
    @apply w-full sm:w-[20rem] px-4 py-2 text-stone-950 sm:py-2 sm:px-2 bg-yellow-400 font-medium rounded-md transition-all duration-200 ease-in-out;
  }
  .BackButton {
    @apply px-2 py-2 text-stone-950 sm:py-1 sm:px-1 bg-yellow-400 font-medium rounded-md transition-all duration-200 ease-in-out;
  }
  .inputField{
    @apply w-full sm:w-[15rem] px-4 py-2 text-stone-950  sm:py-2  sm:px-2 font-medium rounded-full transition-all duration-200 ease-in-out;
  }
}


.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 32px;
  height: 100dvh;
}

/* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
